@font-face {
  font-family: 'Nokora';
  src: url('../fonts/nokora-regular-webfont.woff2') format('woff2'),
    url('../fonts/nokora-regular-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Nokora';
  font-size: 1em;
  box-sizing: border-box;
}

#content {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(209 255 247);
}

li {
  list-style: none;
}

header {
  padding: 0 2rem;
  display: flex;
  height: 12rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header > img {
  color: red;
  position: fixed;
  width: 15rem;
  left: -65px;
  top: -70px;
}

.tabs {
  width: 25%;
  max-width: 350px;
  height: 25%;
  display: flex;
  justify-content: space-between;
  gap: 15px;

}

button {
  border-style: none;
  color: white;
  flex: 1;
  height: 100%;
  max-width: 100px;
  background-color: rgb(38, 75, 64);
}

button:hover {
  background-color: rgba(38, 75, 64, 0.479);;
  cursor: pointer;
}

main {
  flex: 1;
  display: flex;
  max-width: 100vw;
}

.left-main,
.right-main {
  margin: auto 2rem;
  flex: 1;
}

.left-main > img {
  width: 100%;
}

footer {
  height: 8rem;
  width: 100%;
  /* position: absolute; */
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 0.9rem;
  justify-content: center;
}